test/node-red-test/load-test-flow.json
[
    {
        "id": "inject-node",
        "type": "inject",
        "z": "flow1",
        "name": "Generate Data (100ms)",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [["function-node"]]
    },
    {
        "id": "function-node",
        "type": "function",
        "z": "flow1",
        "name": "Generate Line Protocol",
        "func": "// Generate random metrics\nconst hosts = ['server01', 'server02', 'server03', 'server04', 'server05'];\nconst host = hosts[Math.floor(Math.random() * hosts.length)];\nconst cpu = (Math.random() * 100).toFixed(2);\nconst mem = (Math.random() * 100).toFixed(2);\nconst disk = (Math.random() * 100).toFixed(2);\n\n// Line protocol format\nmsg.payload = `cpu,host=${host} usage=${cpu},memory=${mem},disk=${disk}`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [["http-request"]]
    },
    {
        "id": "http-request",
        "type": "http request",
        "z": "flow1",
        "name": "POST to Arc",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.15:8000/write?db=loadtest&p=J8NodTP2yvzh9j-diG8HcR-1KBXpUORMAmzUTzQnPKE=",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {"keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "text/plain"}
        ],
        "x": 630,
        "y": 100,
        "wires": [["status-check"]]
    },
    {
        "id": "status-check",
        "type": "switch",
        "z": "flow1",
        "name": "Check Status",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "204", "vt": "str"},
            {"t": "else"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 100,
        "wires": [["success-counter"], ["error-debug"]]
    },
    {
        "id": "success-counter",
        "type": "function",
        "z": "flow1",
        "name": "Count Success",
        "func": "// Initialize counter in flow context\nlet count = flow.get('successCount') || 0;\ncount++;\nflow.set('successCount', count);\n\n// Log every 100 requests\nif (count % 100 === 0) {\n    node.status({fill:'green', shape:'dot', text:`Success: ${count}`});\n}\nreturn null;",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "flow.set('successCount', 0);",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 80,
        "wires": []
    },
    {
        "id": "error-debug",
        "type": "debug",
        "z": "flow1",
        "name": "Errors",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "flow1",
        "type": "tab",
        "label": "Arc Load Test",
        "disabled": false,
        "info": ""
    }
]
